/*  your css code here. If applicable */
 #grid {
      display: grid;
      grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
      grid-template-rows: 124px 124px 124px 124px 124px;
      grid-gap: 10px 10px;
    }
#grid div {
      background: green;
      color: white;
      padding: 20px;
    }

#grid div:nth-child(1){
	grid-column: span 4;
}

#grid div:nth-child(2){
	grid-row: span 4
}


#grid div:nth-child(4){
	grid-column: span 2
}

#grid div:nth-child(5){
	grid-column: span 2;
}

#grid div:nth-child(10){
	grid-column: span 3;
}
 